---
import { eventData } from "../../data/eventsdata";
import Layout from "../../layout/Layout.astro";
import Album from "../../react/Album";

export function getStaticPaths() {
  const paths = Object.keys(eventData).map((slug) => ({ params: { slug } }));
  console.log(paths);
  return paths;
}

const { slug } = Astro.params;
---

<Layout>
  <h1 class="text-[5rem] text-white font-bold text-center my-16">
    {eventData[slug].title}
  </h1>
  <Album slug={slug} client:load />
</Layout>
