---
// Import the required components
import Layout from "../layout/Layout.astro";
import SwiperModule from "../react/events";
---

<Layout>
  <div
    class="relative min-h-screen bg-transparent flex flex-col items-center justify-center"
  >
    <div class="phone">
      <section
        class="min-h-screen text-white grid grid-cols-1 place-items-center"
      >
        <div class="w-full">
          <div class="text-7xl font-bold text-center mt-8">Events</div>
          <div class="w-full">
            <SwiperModule client:only />
          </div>
        </div>
      </section>
    </div>
    <div class="desktop">
      <section
        class="min-h-screen text-white grid grid-cols-1 place-items-center"
      >
        <div class="w-full">
          <div class="text-7xl font-bold text-center mt-8">Events</div>
          <div class="w-full">
            <SwiperModule client:only />
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  @media (min-width: 768px) {
    .phone {
      display: none;
    }
    .desktop {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .phone {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
</style>
