---
import { routes } from "../data/routes";

const routeIcons: Record<'Team' | 'Events' | 'Projects' | 'Blogs', string> = {
  Team: "/icons/team.svg",
  Events: "/icons/events.svg",
  Projects: "/icons/project.svg",
  Blogs: "/icons/blog.svg",
};

const filteredRoutes = routes.filter(
  (route) => route.title.toLowerCase() !== "home"
);

type RouteIconKeys = keyof typeof routeIcons;
---

<main class="flex flex-wrap justify-center p-4 m-10">
  {
    filteredRoutes.map((route, index) => {
      return (
        <a
          href={route.href}
          class="flex flex-col sm:flex-row items-center py-4 rounded-3xl bg-gray-800 px-6 hover:bg-[#2a2a2a]/50 transition duration-200 ease-in-out w-full sm:w-auto m-2"
        >
          <div class="flex items-center justify-center w-8 h-8 rounded-full transition duration-200 ease-in-out">
            <img
              src={routeIcons[route.title as RouteIconKeys]}
              alt={route.title}
              class="w-6 h-6"
            />
          </div>
          <span class="text-white text-lg transition duration-200 ease-in-out">
            {route.title}
          </span>
        </a>
      );
    })
  }
</main>
